body{
    font-family: 'Helvetica', sans-serif;
    background-color: black;
    color: seashell;
    opacity: 0.9;
    font-size: 22px;


/* Nav bar style */


   


/* Hero */





